.procedure {
  .content {
    .procedures {
      max-width: 100%;
      padding: 10px;

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .card {
          display: flex;
          align-items: center;
          max-width: 370px;
          top: 668px;
          border-radius: 10px;
          background: #ffff;
          font-size: 20px;
          font-weight: 400;
          line-height: 30.26px;
          padding: 10px 16px;
          .image {
            height: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 646px) {
  .procedure {
    .content {
      .procedures {
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media (max-width: 407px) {
  .procedure {
    .content {
      .procedures {
        .cards {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
