/* DropdownMenu.module.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 300px;  // Ограничение по высоте
  overflow-y: scroll;   // Добавляем прокрутку
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdownItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
