.reception {
  .content {
    .dostors {
      max-width: 100%;
      background: #fff;
      padding: 10px;

      .cards {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .specialties {
          display: flex;
          flex-direction: column;
          padding-bottom: 25px;
          gap: 5px;
          .letter {
            font-size: 20px;
            font-weight: 800;
          }

          .speciality {
            color: #ff6200;
            font-size: 18px;
            font-weight: 500;
            .quantity {
              color: #d9d9d9;
            }
          }
        }
      }
    }
  }
}
