.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  padding: 10px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  width: 100%;
  min-width: 370px;
}

.searchButton {
}

.loadingSpinner {
  //display: block;
  //margin: 20px auto;
}

.customDropdown {
  background-color: white; /* Явно задаем белый фон */
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000; /* Устанавливаем высокий z-index для отображения поверх других элементов */
  position: absolute; /* Меняем на абсолютное позиционирование, чтобы dropdown располагался под инпутом */
  width: 100%; /* Занимает всю ширину инпута */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Добавляем тень для визуального эффекта */
  margin-top: 40px;
  border-radius: 10px;
  box-sizing: border-box;
}

.resultsContainer {
  padding: 10px;
}

.sectionTitle {
  font-weight: bold;
  margin: 10px 0;
}

.resultItem {
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

/* Скрываем иконку на десктопе и показываем на мобильных устройствах */
.mobileSearch {
  display: none;
}

@media (max-width: 768px) {
  .mobileSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .desktopSearch {
    display: none;
  }
}

/* Скрываем обычный поиск на мобильных устройствах */
.desktopSearch {
  display: flex;
}

@media (max-width: 768px) {
  .desktopSearch {
    display: none;
  }
  .input {
    width: 100%;
    min-width: auto;
  }
}
