.heroImgs {
  height: 100%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.heroImg1 {
  //width: 406px;
  height: 362px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.heroImg2 {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  right: 4pc;
  //width: 406px;
  height: 382px;
  border-radius: 10px 10px 0 0;
}
.heroImg3 {
  position: absolute;
  z-index: 20;
  height: 372px;
  right: 2pc;
  bottom: 0px;
  //width: 376px;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 1200px) {
  .heroImg2 {
    display: none;
  }
  .heroImg3 {
    display: none;
  }
  .heroImg1 {
    border-radius: 10px;
  }
}
