.procedure {
  .content {
    .procedures {
      max-width: 100%;
      padding: 10px;

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }
  }
}

@media (max-width: 646px) {
  .procedure {
    .content {
      .procedures {
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media (max-width: 407px) {
  .procedure {
    .content {
      .procedures {
        .cards {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
