.scheduleContainer {
  width: 100%;
  box-sizing: border-box;
}

.month {
  text-align: center;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 600;
  line-height: 32.68px;
}

.daysContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  justify-content: center;
}

.day {
  border: 1px solid #ccc;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 #00000040;
  width: 59px;
  height: 85.75px;
  display: flex;
  align-items: center;
  color: #ff6200;
  flex-direction: column;
  justify-content: center;
  border-radius: 33px;
  cursor: pointer;

  &_active {
    background: #ff6200;
    color: white;
  }

  &_title {
    font-size: 27px;
    font-weight: 500;
    line-height: 32.68px;
    text-align: center;
  }

  &_sub_title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: center;
  }
}

.timeSlotsContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  background: linear-gradient(
                  180deg,
                  #ff6200 0%,
                  rgba(255, 98, 0, 0) 92.07%
  );
}

.timeSlots {
  display: flex;
  flex-wrap: wrap;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 100%;
  justify-content: center;
}

.timeSlots.showAll {
  max-height: 1000px; // Достаточно большое значение для отображения всех таймслотов
}

.timeSlot {
  width: 54px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #FF6200;
  cursor: pointer;
}

.toggleButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.toggleButton:hover {
  background-color: #005bb5;
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
