.header {
  padding: 0 20px;
  box-shadow: 0px 6px 4px 0px #00000026;
  height: 86px;
  background: #ffffff;
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 24px;
    justify-content: space-between;

    .rigthside {
      display: flex;
      align-items: center;
      gap: 15px;
      .burgermenu {
        display: none;
      }
      .headerInut {
        border: 1.5px solid #afafaf;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        border-radius: 5px;
        padding: 5px 20px;
        outline: none;
        background: #d9d9d9;
      }

      .btn {
        padding: 6px 17px;
        border-radius: 7px;
        background: #ff6200;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        color: #ffffff;
      }

      .headerBurgermenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 101;
        position: fixed;
        background-color: #fff;
        padding: 23px 34px;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 200px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

        .BurgermenuInut {
          border: 1.5px solid #afafaf;
          font-size: 15px;
          font-weight: 400;
          line-height: 18.15px;
          border-radius: 5px;
          padding: 5px 20px;
          outline: none;
          width: 100%;
          background: #d9d9d9;
        }

        .Burgermenubtn {
          padding: 6px 17px;
          border-radius: 7px;
          background: #ff6200;
          border: none;
          outline: none;
          font-size: 15px;
          font-weight: 400;
          line-height: 18.15px;
          color: #ffffff;
          width: 100%;
        }
      }

      .headerBurgermenuclose {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 101;
        position: fixed;
        background-color: #fff;
        padding: 23px 34px;
        top: 100%;
      }
    }
    .leftside {
      display: flex;
      align-items: center;
      gap: 10px;

      .leftsidedrop {
        border: none;
        display: flex;
        align-items: center;
        background: none;
      }

      .leftsidebtn {
        padding: 6px 17px;
        border-radius: 7px;
        background: #ff6200;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 757px) {
  .header {
    .content {
      .rigthside {
        .burgermenu {
          display: block;
        }
        .headerInut {
          display: none;
        }
        .btn {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 410px) {
  .leftside {
    display: flex;
    gap: 5px;
  }
}
