.container {
  margin-bottom: 5pc;
}

.tabs_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 20px 0;
  width: 1180px;
  box-sizing: border-box;

  &_item {
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    color: #000000;

    &_active {
      color: #FF6200;
      border-bottom: 3px solid #FF6200;
    }
  }
}

.doctors {
  padding-top: 20px;
}

@media (max-width: 700px) {
  .tabs_wrapper {
    justify-content: center;
  }
}

.tabs_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
}

@media (max-width: 1180px) {
  .tabs_wrapper {
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  .tabs_wrapper {
    padding-left: 0;
  }
}
