.container {
  margin-bottom: 5pc;
}

.tabs_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 20px 0;
  width: 1180px;
  box-sizing: border-box;

  &_item {
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    color: #000000;

    &_active {
      color: #FF6200;
      border-bottom: 3px solid #FF6200;
    }
  }
}

.doctors {
  padding-top: 20px;
}

@media (max-width: 700px) {
  .tabs_wrapper {
    justify-content: center;
  }
}

.tabs_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
}

.input_container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.skeleton {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1180px) {
  .tabs_wrapper {
    padding-left: 10px;
  }
  .input_container {
    width: 100%;
    padding: 0 20px;
  }
  .skeleton {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .tabs_wrapper {
    padding-left: 0;
  }
  .input_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
