.swiper-button-next,
.swiper-button-prev {
  color: #ff6700;
  padding: 10px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  width: 55px;
  height: 55px;
  content: "prev";
  border-radius: 50%;
  color: #ff6700;
  display: flex;
  border: 3px solid #ff6700;
  align-items: center;
  justify-content: center;
  padding: 0.4pc 0.8pc 0.4pc 0.6pc;
  font-size: 21px;
  font-weight: 900;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  width: 55px;
  height: 55px;
  content: "prev";
  border-radius: 50%;
  color: #ff6700;
  display: flex;
  border: 3px solid #ff6700;
  align-items: center;
  justify-content: center;
  padding: 0.4pc 0.8pc 0.4pc 0.6pc;
  font-size: 21px;
  font-weight: 900;
}
